
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
blockquote {
  border-left: 3px solid #eee;
  padding-left: 4px;
}


#header h1 a {
  font-family: 'Ubuntu', arial, serif;
  font-size: 45px;
  text-shadow: none;
}   